.sergNav {
  background-color: white;
  color: #015249;
}
.sergNav a {
  color: #015249;
}
.activated {
  background-color: #008ea8;
  color: white;
}
.activated a {
  color: white;
}

.activated a:hover {
  color: #015249;
}
/*
.activated {
  background-color: #57bc90;
  color: white;
}
.activated a {
  color: white;
}

.activated a:hover {
  color: #015249;
}*/