<div class=".container">
<nav class="navbar navbar-default sergNav">
  <div class="container-fluid">
    <div class="navbar-header col-sm-2">
        <img alt="Brand" [src]="this.companyService.company.logo" height="30" width="auto" style="margin-top: 10px;">
     </div>   

        <ul class="nav navbar-nav navbar-left">
          <li [routerLinkActive]="['activated']" > <a [routerLink]="['/users/search/' + companyService.company.id]"> Preview </a>
          </li>
          <li [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}"> <a [routerLink]="['/admin/company/' + companyService.company.id]" > Update Profile </a>
          </li>
         <li [routerLinkActive]="['activated']" > <a [routerLink]="['employees']"> Update Employees </a>
          </li>
          <li [routerLinkActive]="['activated']" > <a [routerLink]="['schedules']"> Update Schedules </a>
          </li>
          <li [routerLinkActive]="['activated']" > <a [routerLink]="['options']"> Update Options </a>
          </li>
        </ul>

  </div>
</nav>
  
  <router-outlet></router-outlet>
</div>

