<div class=".container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-sm-2">
        <img alt="Brand" [src]="this.companyService.company.logo" height="30" width="auto" style="margin-top: 10px;">
     </div>   
     
        <button [routerLink]="['/company/1']" type="button" class="btn btn-default navbar-btn">Preview</button>

        <button [routerLink]="['/admin/company/1']" type="button" class="btn btn-default navbar-btn">Update Profile</button>

        <button [routerLink]="['employees']" type="button" class="btn btn-default navbar-btn">Update Employees</button>

        <button [routerLink]="['schedules']" type="button" class="btn btn-default navbar-btn">Update Schedules</button>

        <button [routerLink]="['options']" type="button" class="btn btn-default navbar-btn">Update Options</button>
      
  </div>
</nav>
  
  <router-outlet></router-outlet>
<!--  
  <app-profile></app-profile>

  <app-add-employee></app-add-employee>

  <app-employee-schedule></app-employee-schedule>
  <app-options></app-options>-->
</div>

