.employee {
    border-radius: 8px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 16px;
}

.selected {
    background-color: #80b3ff;
}

.panel-default {
    max-height: 800px;
    overflow-y: scroll;
}
