<div class=".container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-left">
            <li [routerLinkActive]="['activated']"><a [routerLink]="['schedule']">My Schedule</a></li>
            <li [routerLinkActive]="['activated']"><a [routerLink]="['form']">Make Appointments</a></li>
        </ul>
        <li class="nav navbar-nav navbar-right dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Companies
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let company of companies" [value]="company" ><a (click)="changeCompany(company)">{{company.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="companyName"><a>{{name}}</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
</div>