<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <form [formGroup]="editAccountForm" (ngSubmit)="onSubmit(editAccountForm.value)" novalidate>
                        <div class="form-group">
                            <label for="password">Enter password to edit account details</label>
                            <input type="password" class="form-control" formControlName="password">
                            <span *ngIf="editAccountForm.controls.password.hasError('required') && submitted">Password is required</span>
                            <span *ngIf="incorrectPassword">Incorrect password</span>
                        </div>

                        <div class="form-group">
                            <label for="firstName">First Name: </label>
                            <input type="text" class="form-control" formControlName="firstName">
                            <span *ngIf="editAccountForm.controls.firstName.hasError('required') && submitted">Please enter first name</span>
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last Name: </label>
                            <input type="text" class="form-control" formControlName="lastName">
                            <span *ngIf="editAccountForm.controls.lastName.hasError('required') && submitted">Please enter last name</span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Phone Number: </label>
                            <input type='tel' class="form-control" formControlName="phoneNumber">
                        </div>

                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" class="form-control" formControlName="email">
                            <span *ngIf="editAccountForm.controls.email.hasError('required') && submitted">Please enter email</span>
                        </div>

                        <div class="form-group">
                            <label for="image">Profile Photo: </label>
                            <input type="url" class="form-control" formControlName="image" placeholder="Image URL">
                        </div>

                        <button type="submit" class="btn btn-default" >
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save Changes
                        </button>
                    
                        <span *ngIf="showErrorMsg">Server error, please try again later</span>
                        <div class="alert alert-success" role="alert" *ngIf="showSuccessMsg">Account updated!</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>