<div id="profile" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h1>My Account</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-md-offset-2">
                <div class="name">First Name: {{user?.firstName}}</div> 
                <div class="name">Last Name: {{user?.lastName}}</div>
                <div id="phone">Phone Number: {{user?.phoneNumber}}</div>
                <div id="email">Email: {{user?.email}}</div>
            </div>
            <div class="col-xs-4">
                <img src="{{userPicture}}">
            </div>
        </div>
    </div>
    <app-edit-account></app-edit-account>
</div>

