<h3>My Account</h3>
<div id="profile">
    <div class="name">First Name: {{user?.firstName}}</div> 
    <div class="name">Last Name: {{user?.lastName}}</div>
    <div id="photo">
        <img src="{{user?.image}}">
    </div>
    <div id="contact">
        <span>Contact Information</span>
        <div id="phone">Phone Number: {{user?.phoneNumber}}</div>
        <div id="email">Email: {{user?.email}}</div>
    </div>
    <button type="button" class="btn btn-default" (click)="onEdit()">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
</div>
    
<div id="edit" *ngIf="showEditBox">
    <app-edit-account [user]="user"></app-edit-account>
</div>