 #profile {
    border: 2px solid black;
    width: 700px;
    height: 300px;
    position: relative;
    padding: 20px;
    font-size: 16px;
}
#photo {
    position: absolute;
    right: 20px;
    transform: translate(-50%, 0%);
    width: 150px;
    height: 150px;
}
#photo img {
    width: 160px;
    height: 150px;
}
#name {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}
#contact {
    position: absolute;
    left: 20px;
    top: 60px;
}
button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}