<!--NEW CURRENT EMPLOYEES PANEL-->
<div class="panel panel-default col-sm-3" *ngFor="let empAll of this.companyService.employees">
  <div class="panel-heading ">
    <h3 class="text-center"> {{empAll.name}}</h3>
  </div>
  <div class="panel-body ">
    <img [src]="empAll.image" class="img-rounded" width="auto" height="150px">
    
    <hr>
    phone: {{empAll.phoneNumber}}
    
    <hr>
    email: {{empAll.email}}
    <hr>
    admin: {{empAll.admin}} 

    <div *ngIf="showAdminControl">
      <hr>
      admin: 
    <label class="radio" *ngFor="let add of admin" >
      <input  name="add" (click)="updateAdminSubmit(add)" type="radio" value="add"> {{add}}
      </label>
    </div>
  </div>
  <div class="panel-footer">
    <button type="button" (click)="deleteEmployeeSubmit(empAll.id, empAll.name)"> Delete Employee</button>
    <button type="button" (click)="updateAdminSubmit()"> Update Admin</button>
  </div>
</div>

<!--EMPLOYEE ADDDING-->
<h3> Search for User </h3>
  <input type="text" placeholder="email@gmail.com OR 23 (userId)" [(ngModel)]="userSearch"> 
  <button type="submit" (click)="searchUser(userSearch)">search</button>
  <br>
  <p *ngIf="userNotFound"> Please Try Again! <p>
    <div *ngIf="userShow">
      {{userFetched.id}} {{userFetched.email}}
    </div>
<hr>

<h3> Add Employee </h3>
<form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="userId"> UserId </label>
    <input type="number" id="userId" class="form-control" formControlName="userId">
    <div *ngIf="!addEmployeeForm.controls['userId'].valid">
      INVAID, TRY AGAIN
    </div>
  </div>
  <div class="form-group">
    <label for="companyId"> CompanyId </label>
    <input type="number" id="companyId" class="form-control" formControlName="companyId">
    <div *ngIf="!addEmployeeForm.controls['companyId'].valid">
      INVAID, TRY AGAIN
    </div>
  </div>
  <div class="radio" *ngFor="let a of admin">
    <label>
      <input type="radio" formControlName="isAdmin" [value]="a"> {{a}}
    </label>
  </div>
  <button type="submit" [disabled]="!addEmployeeForm.valid">Submit</button>
</form>

<!--<h3> Delete Employee </h3>

<form [formGroup]="deleteEmployeeForm" (ngSubmit)="deleteEmployeeSubmit()">
  <div class="form-group">
    <label for="userId">Enter User Id</label>
    <input type="number" id="userId" class="form-control" formControlName="userId">
    <label for="companyId">Enter Company Id</label>
    <input type="number" id="companyId" class="form-control" formControlName="companyId">
  </div>
  <button type="submit" [disabled]="!deleteEmployeeForm.valid">Submit</button>
</form>-->


<!-- classes - ng-untouched, ng-pristine, ng-invalid -->
<!-- if you want to just set the values for the fields,
use [ngModel]="addEmployee" -->
<!-- if you want doubledata binding just set the values for the fields,
use [(ngModel)]="addEmployee" 
****** IF DOUBLE DATA BINDING, CAN STILL SUBMIT FORM IF INVALID? THE DATA DOES CHANGE-->