<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)" novalidate>

    <div>
        <label for="firstName" class="login__label">First Name</label>
        <input class="login__input"  type="text" formControlName="firstName">
        <div class="login__label" *ngIf="!signupForm.controls.firstName.valid && submitted">First name is required.</div>
    </div>

    <div>
        <label for="lastName" class="login__label" >Last Name</label>
        <input class="login__input"  type="text" formControlName="lastName">
        <div class="login__label" *ngIf="!signupForm.controls.lastName.valid && submitted">Last name is required.</div>
    </div>

    <div>
        <label for="email" class="login__label">Email</label>
        <input class="login__input"  type="email" formControlName="email">
        <div class="login__label" *ngIf="!signupForm.controls.email.valid && submitted">Email is required.</div>
    </div>

    <div>
        <label for="password" class="login__label">Password (minimum 6 characters)</label>
        <input type="password" formControlName="password" class="login__input" >
        <div class="login__label" *ngIf="signupForm.controls.password.hasError('required') && submitted">Password is required</div>
        <div class="login__label" *ngIf="signupForm.controls.password.hasError('minLength') && submitted">Password must be at least 6 characters</div>
        <br>
        <label for="verifyPassword" class="login__label">Verify Password</label>
        <input type="password" formControlName="verifyPassword" class="login__input" >
        <div class="login__label" *ngIf="signupForm.controls.verifyPassword.hasError('required') && submitted">Please verify your password.</div>
        <div class="login__label" *ngIf="submitted && passwordError">Passwords don't match</div>
    </div>
    
    <button class="login__submit" type="submit">Signup</button>
    <div class="login__label" *ngIf="userExists">Account already exists under this email, please sign in</div>
</form>