<form>
    <input type="text" #listFilter (keyup)="o">
    <br>
    <button type="submit">Search</button>
</form>
    <div id="container">
        <div class="company" *ngFor="let company of allCompanies | companyFilter:listFilter.value">
            <div class="name">{{company.name}}</div>
            <img class="image" src="{{company.image}}">
            <div class="contact">
                <span>{{company.phoneNumber}}</span>
                <br>
                <span>{{company.website}}</span>
            </div>
            <div class="address">{{company.address}}</div>
            <div class="description">{{company.description}}</div>
        </div>
    </div>