.company {
    font-size: 16px;
    height: 350px;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin: 2% auto 2% auto;
    width: 60%;
    padding: 2%;
    font-size: 18px;
}
.company:hover {
    box-shadow: 2px 2px 8px darkgray;
}
.col-height {
    height: 100%;
}
.company-image {
    max-width: 95%;
    margin: 0 auto 0 auto;
    max-height: 95%;
    box-shadow: 2px 2px 8px darkgray;
    border-radius: 2px;
}
.brand {
    font-size: 20px;
    color: #003459;
}
.name {
    font-size: 24px;
}
.brandName, .name, .phone, .website, .address, .description {
    margin-top: 1%;
    margin-bottom: 1%;
}
.description {
    color: #666666;
    margin-top: 10%;
}
.panel-heading {
    background-color: #007ea7;
    color: white;
    text-align: center;
}
.form-group {
    width: 60%;
    margin: auto;
}
.btn-default:hover {
    color: white;
    background-color: #008ea8;
}
.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    margin: 10% auto 0 auto;
}