.employee {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 20px auto 20px auto;
    font-size: 20px;
}

.selected {
    background-color: #80b3ff;
}

.panel-default {
    max-height: 800px;
    overflow-y: scroll;
}
