<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>My Appointments</h2>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <app-calendar id="calendar" [calendarConfig]="calendarConfig" [eventSources]="eventSources"></app-calendar>
      </div>
      <div class="col-sm-5">
        <app-customer-appointment-detail [selectedAppointment]="selectedAppointment"></app-customer-appointment-detail>
      </div>
    </div>
  </div>
</div>

