<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Details</h3>
        </div>
    </div>
    <div class="panel-body" *ngIf="!eventType">
        Select an event to view details
    </div>
    <div class="panel-body" *ngIf="eventType == 'appointment'">
        <div class="table-responsive">
            <table class="table borderless">
                <tbody>
                    <tr>
                        <th scope="row">Appointment ID:</th>
                        <td>{{selectedEvent?.id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contact name:</th>
                        <td>{{selectedEvent?.contactName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contact phone number:</th>
                        <td>{{selectedEvent?.contactNumber}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Service:</th>
                        <td>{{selectedEvent?.description || 'NA'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Employee:</th>
                        <td>
                            {{selectedEvent?.employee.firstName}} {{selectedEvent?.employee.lastName}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Time:</th>
                        <td>{{selectedEvent?.startTime | date: 'MMM d, y h:mm a'}} to {{selectedEvent?.endTime | date: 'h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Customer comments:</th>
                        <td>{{selectedEvent?.comment || 'NA'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-body" *ngIf="eventType == 'schedule'">
        <div class="table-responsive">
            <table class="table borderless">
                <tbody>
                    <tr>
                        <th scope="row">Work start time:</th>
                        <td>{{selectedEvent?.startTime | date: 'MMM d, y h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Work end time:</th>
                        <td>{{selectedEvent?.endTime | date: 'MMM d, y h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Supervisor comments:</th>
                        <td>{{selectedEvent?.description || 'NA'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>