<div class="container">
  <nav class="navbar navbar-default" [hidden]="!isUserLoggedIn">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ScheduleMe</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']"><a [routerLink]="['users']">Personal Dashboard</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['company']" *ngIf="isUserAdmin">Admin Dashboard</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['work']" *ngIf="isUserEmployee">Work Dashboard</a></li>
        <li (click)="onSignOut()"><a>Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
