.container-fluid.wrapper {
    /*width: 100%;*/
    /*height: 100vh;*/
    background-image: url('../assets/flowers-desk-office-vintage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sergNav {
  background-color: white;
}

.sergNav a {
  color: #015249;
}

.sergNav a:hover {
  color: #57bc90;
}

.sergNav a:active {
  color: white;
  background-color: #57bc90;
}

.active {
  color: white;
}

.activated {
  background-color: #57bc90;
  color: white;
}
.activated a {
  color: white;
}

.activated a:hover {
  color: #015249;
}

