<div class="container-fluid wrapper">
  <nav class="navbar navbar-default sergNav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">ScheduleMe</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['activated']" *ngIf="isUserLoggedIn"><a [routerLink]="['users']">Personal Dashboard</a></li>
        <li [routerLinkActive]="['activated']" *ngIf="isUserLoggedIn && isUserAdmin"><a [routerLink]="['admin']">Admin Dashboard</a></li>
        <li [routerLinkActive]="['activated']" *ngIf="isUserLoggedIn && isUserEmployee"><a [routerLink]="['work']">Work Dashboard</a></li>
        <li [routerLinkActive]="['activated']" *ngIf="!isUserLoggedIn"><a [routerLink]="['auth']">Signin/Signup</a></li>
        <li [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}" *ngIf="isUserLoggedIn && !isUserAdmin"><a [routerLink]="['admin']">CREATE COMPANY</a></li>
        <li  *ngIf="isUserLoggedIn" (click)="onSignOut()"><a>Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
