.container-fluid {
    height: 2800px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-image: url('../assets/stripe_background.png');
}
.carousel-container {
    padding: 0px;
    height: 700px;
    background-image: url('../assets/landing_photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translate(5%,0%);
    height: 90%;
    width: 90%;
}
.item {
    height: 90%;
}
.carousel.overlay {
    height: 90%;
    width: 70%;
    margin: 3% auto 10% auto;
    background-color: rgba(242,242,242,0.8);
    text-align: center;
}
.carousel-gif {
    max-width: 60%;
    max-height: 60%;
    margin: auto;
}
#search-picture {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 0%;
    left: 30%;
    box-shadow: 3px 3px 8px darkgray;
}
#customer-appointments-picture {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 30%;
    right: 30%;
    box-shadow: 3px 3px 8px darkgray;
}
.customer-caption {
    position: absolute;
    bottom: 10%;
    right: 0%;
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 32px;
}
#carousel-landing {
    height: 100%;
}
.carousel.slide-1 {
    height: 90%;
    width: 70%;
    margin: 3% auto 10% auto;
    text-align: center;
}
.carousel-caption {
    color: white;
    top: 15%;
    text-shadow: 4px 4px 8px black;
}
.carousel-caption>h1 {
    font-size: 56px;
}
.carousel-caption>h4 {
    font-size: 36px;
}
.description {
    height: 600px;
    background-image: url('../assets/concrete_seamless.png');
    padding: 0px;
    color: #00344A;
}
#description-header {
    margin: auto;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;
    height: 10%;
}
.description-detail {
    width: 33.33%;
    height: 60%;
    float: left;
    padding: 2%;
    margin: auto;
    text-align: center;
}
.description-detail-header {
    font-size: 26px;
}
.description-detail-more {
    font-size: 18px;
    width: 80%;
    margin: auto;
}
.description-icon {
    width: 50%;
    height: 50%;
    margin: 5% auto 5% auto;
}
.description-icon.search {
    background-image: url('../assets/magnifier.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.description-icon.admin {
    background-image: url('../assets/organization_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.description-icon.employee {
    background-image: url('../assets/calendar-check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.description-footer {
    height: 10%;
    float:left;
    width: 100%;
    text-align:center;
}
.btn-primary {
    width: 25%;
    height: 100%;
    font-size: 24px;
    border-radius: 30px;
    background-color: #00344A;
}
.btn-primary:hover {
    background-color: #008ea8;
}
.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
.tech-stack {
    height: 500px;
    background-image: url('../assets/concrete_seamless.png');
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
#tech-stack-header {
    text-align: center;
    font-size: 32px;
    margin: 2% auto 2% auto;
    color: #00344A;
}
.tech-stack-logo {
    float: left;
    width: 33.333%;
    height: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.tech-stack-name {
    display: none;
}
.tech-stack-logo:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}
#contribute {
    width: 33.33%;
    margin: auto;
    font-size: 24px;
}
#angular.tech-stack-logo {
    background-image: url('../assets/angular2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25%;
}
#node.tech-stack-logo {
    background-image: url('../assets/nodejs-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#express.tech-stack-logo {
    background-image: url('../assets/express_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
#postgreSQL.tech-stack-logo {
    background-image: url('../assets/postgresql_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#bootstrap.tech-stack-logo {
    background-image: url('../assets/bootstrap_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25%;
}
#fullcalendar.tech-stack-logo {
    background-image: url('../assets/fullcalendar_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25%;
}
#github.tech-stack-logo {
    background-image: url('../assets/github_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25%;
}
.dev-team {
    padding: 0px;
    height: 800px;
}
#dev-team-header {
    text-align: center;
    font-size: 32px;
    margin: 5% auto 10% auto;
    color: white;
}
.profile {
    text-align: center;
    width: 33.333%;
    float: left;
}
.footer {
    padding: 2%;
    font-size: 16px;
    text-align: center;
    height: 200px;
    color: white;
}