<div class="panel panel-default">
  <div class="panel-body" id="profileImage">
  </div>
  <div class="panel-body">
    <h3> Company Information </h3>
    <img [src]="company.logo">
    <hr>
    Name : {{company.brandName}}
    <hr>
    Address : {{company.address}}
    <hr>
    Phone : {{company.phoneNumber}}
    <hr>
    Website : <a href="{{company.website}}"> {{company.website}} </a>
    <hr>
    Description : {{company.description}}
    <hr>
    <img [src]="company.image">
  </div>
  <h3> Brand Names Available </h3>
  <ul>
    <li *ngFor="let b of brandNamesAll"> {{b.id}} {{b.name}}
    </li>
  </ul>
  <h3> Add Custom Brand Name </h3>
  <input type="text" [(ngModel)]="brandNameCustom">
  <button (click)="postBrandName(brandNameCustom)">create</button>
</div>