<form>
    <div class="form-group">
      <label>Service</label>
      <input type="text" class="form-control" name="service" [(ngModel)]="option.service" placeholder="Service" >
    </div>
    <div class="form-group">
      <label>Duration</label>
      <input type="text" class="form-control" name="Duration" [(ngModel)]="option.duration" placeholder="Time">
      Please list time in total minutes
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="Description" [(ngModel)]="option.description" placeholder="Description" >
    </div>
     <button (click)='addOption()' class="btn btn-default">Submit</button>
</form>